$shadow:6px;

.chip{
    margin:0.6rem 0.3rem;
    font-size:0.7rem;
    &>span{
        padding: 0 0.7rem;
    }
}

.ReactJs{
    background-color: #61DBFB !important;
}
.ReactJs:hover{
    background-color: #46acc5;
    box-shadow: #46acc5cc 0px 0px $shadow;
}

.Python\(FastAPI\){
    background-color: #009485 !important;
    color:#ccc !important;
}
.Python\(FastAPI\):hover{
    background-color: #01776b;
    box-shadow: #01776b 0px 0px $shadow;
}

.OracleDB{
    background-color: #f80000 !important;
    color:white !important;
}
.OracleDB:hover{
    background-color: #d80000;
    box-shadow: #d80000 0px 0px $shadow;
}

.KeyCloak{
    background-color: #02ca66 !important;
}
.KeyCloak:hover{
    background-color: #00a753;
    box-shadow: #00a753 0px 0px $shadow;

}

.MSSQLServer,
.Azure\(Cloud\,DevOps\){
    background-color: #0080FF !important;
    color:white !important;
}
.MSSQLServer:hover,
.Azure\(Cloud\,DevOps\):hover{
    background-color: #0263c4;
}

.Angular{
    background-color: #dd1b16 !important;
    color:white !important;
}
.Angular:hover{
    background-color: #a6120d;
}

.Java\(Springboot\){
    background-color:#f89820 !important;
    color:white !important;
}
.Java\(Springboot\):hover{
    background-color:#b9721c;
}

.MySql{
    background-color:#f29111 !important;
    color:white !important;
}

.MySql:hover{
    background-color:#c5760d;
}

.PHP{
    background-color:#777BB3 !important;
    color:white !important;
}

.PHP:hover{
    background-color: #484C89;
}

.Gitlab\(DevOps\){
    background-color: #fc6d27 !important;
    color:white !important;
}

.Gitlab\(DevOps\):hover{
    background-color: #e2432a;
}

.Vue{
    background-color: #41b883 !important;
    color:white;
}

.Vue:hover{
    background-color: #35495e;
    box-shadow: #41b883 0px 0px $shadow;
}

.NodeJS{
    background-color: #68a063 !important;
    color:#303030 !important;
}

.NodeJS:hover{
    background-color: #3c873a;
    box-shadow: #303030 0px 0px $shadow;
}

.MariaDB {
    background-color: #20536f !important;
    color:white !important;
}
.MariaDB:hover{
    background-color:#000;
}

.MongoDB{
    background-color:#4DB33D !important;
    color:#E8E7D5 !important;
}
.MongoDB:hover{
    background-color:#3FA037;
}

.Python{
    background-color:#ffe873 !important;
    color: #4B8BBE !important;
}
.Python:hover{
    background-color:#ffd43b;
    color: #306998;
    box-shadow: #4B8BBE 0px 0px $shadow;
}

@media print {
    .chip{
        background-color: white;
        -webkit-print-color-adjust: exact;
        color:black;
    }
}