$shadow: 6px;

.chip {
    margin: 0.3rem 0.3rem;
    font-size: 0.6rem;

    &>span {
        padding: 0 0.6rem;
    }
}


.React {
    background-color: #61DBFB !important;
    transition: color 0.8s, background-color 3s, box-shadow 1s;
}

.React:hover {
    background-color: #46acc5;
    box-shadow: #46acc5cc 0px 0px $shadow;
    transition: color 0.8s, background-color 3s, box-shadow 1s;
}

.Next\.js,
.bash {
    background-color: #000 !important;
    color: #fff !important;
    transition: color 0.8s, background-color 3s, box-shadow 1s;
}

.Next\.js:hover,
.bash:hover {
    background-color: #333;
    box-shadow: #111 0px 0px $shadow;
    transition: color 0.8s, background-color 3s, box-shadow 1s;
}

.Python,
.FastAPI {
    background-color: #009485 !important;
    color: #ccc !important;
}

.Python:hover,
.FastAPI\:hover {
    background-color: #01776b;
    box-shadow: #01776b 0px 0px $shadow;
}

.OracleDB {
    background-color: #f80000 !important;
    color: white !important;
}

.OracleDB:hover {
    background-color: #d80000;
    box-shadow: #d80000 0px 0px $shadow;
}

.KeyCloak {
    background-color: #02ca66 !important;
}

.KeyCloak:hover {
    background-color: #00a753;
    box-shadow: #00a753 0px 0px $shadow;

}

.JavaScript {
    background-color: #f7df1e !important;
    transition: color 0.8s, background-color 3s, box-shadow 1s;
}

.\.Net,
.C\#,
.Xamarin,
.MSSQLServer,
.Azure,
.Docker,
.TypeScript,
.PowerShell {
    background-color: #0080FF !important;
    color: white !important;
}

.\.Net:hover,
.C\#:hover,
.Xamarin:hover,
.MSSQLServer:hover,
.Azure\(Cloud\,DevOps\):hover {
    background-color: #0263c4 !important;
    box-shadow: #0080FF 0px 0px $shadow;
}


.BitBucket {
    background-color: #2684FF !important;
    color: white !important
}

.BitBucket:hover {
    background-color: #0357D1;
    box-shadow: #253858 0px 0px $shadow;
}

.Angular,
.Prometheus {
    background-color: #dd1b16 !important;
    color: white !important;
}

.Angular:hover {
    background-color: #a6120d;
}

.Android {
    background-color: #32DE84 !important;
}

.Android:hover {
    background-color: #A4C639 !important;
    box-shadow: #32DE84 0px 0px $shadow;
}

.Java,
.Spring\ Boot,
.Kotlin,
.Liquibase,
.Hibernate,
.Grafana {
    background-color: #f89820 !important;
    color: white !important;
}

.Java:hover,
.Java\(Springboot\):hover {
    background-color: #b9721c !important;
    box-shadow: #f89820 0px 0px $shadow;

}

.MySql {
    background-color: #f29111 !important;
    color: white !important;
}

.MySql:hover {
    background-color: #c5760d;
}

.PHP,
.Terraform {
    background-color: #777BB3 !important;
    color: white !important;
}

.PHP:hover,
.Terraform:hover {
    background-color: #484C89;
}

.Gitlab {
    background-color: #fc6d27 !important;
    color: white !important;
}

.Gitlab:hover {
    background-color: #e2432a;
    box-shadow: #fc6d27 0px 0px $shadow;

}

.Vue {
    background-color: #41b883 !important;
    color: #35495e !important;
}

.Vue:hover {
    background-color: #35495e !important;
    color: white !important;
    box-shadow: #41b883 0px 0px $shadow;
}

.NodeJs,
.MsSqlServer,
.MsSql {
    background-color: #68a063 !important;
    color: #303030 !important;
}

.NodeJs:hover {
    background-color: #3c873a;
    box-shadow: #303030 0px 0px $shadow;
}

.MariaDB {
    background-color: #20536f !important;
    color: white !important;
}

.MariaDB:hover {
    background-color: #000;
}

.MongoDB {
    background-color: #4DB33D !important;
    color: #E8E7D5 !important;
}

.MongoDB:hover {
    background-color: #3FA037;
}

.Python {
    background-color: #ffe873 !important;
    color: #4B8BBE !important;
}

.Python:hover {
    background-color: #ffd43b;
    color: #306998;
    box-shadow: #4B8BBE 0px 0px $shadow;
}

.Sqlite {
    transition: color 0.8s, background-color 3s;
}


.Sqlite:hover {
    background-color: #999;
    box-shadow: #777 0px 0px $shadow;
    color: white;
    transition: color 0.8s, background-color 3s;
}

@media print {
    .chip {
        background-color: white;
        -webkit-print-color-adjust: exact;
        color: black;
    }
}