.bottom{
    margin-top:3rem;
    margin-bottom: -1rem;
    background-color: black;
    width: 100%;
    max-width: 100%;
    height: 50px;
    z-index: -1;
    border-top: 5px solid gainsboro;
}

@media print {
    .bottom{
        display:none;
        background-color: black;
        -webkit-print-color-adjust: exact;
        bottom:0;
    }
}