.top{
    background-color: black;
    width: 100%;
    max-width: 1150px;
    height: 280px;
    position: absolute;
    z-index: -1;
    margin-top: -21px;
    border-bottom: 5px solid transparent;
    animation-duration: 3s;
    animation-name: headerbgdropin;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    transition: border-bottom 0.5s;
}

.avatar{
    width: 17rem !important;
    height: 17rem !important;
    & img{
        object-position: top;
    }
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name:avatarshadow;
}

.name{
    text-transform: uppercase;
    align-self:unset;
    color:gainsboro;
    opacity:0;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: namedropin;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.pi{
    opacity:0;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: comeinfromleft;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.bio{
    opacity:0;
    animation-delay: 1.8s;
    animation-duration: 3s;
    animation-name: comeinfromright;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.header-sm{
    background-color: white;
    height: 6rem;
    width:100vw;
    z-index: 1050;
    left:0;
    opacity:0;
}

.header-sm-appear{
    animation-name:headersmdropin;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.header-sm-disappear{
    animation-name:headersmfoldup;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.avatar-sm{
    width: 5rem !important;
    height: 5rem !important;
    & img{
        object-position: top;
    }
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name:avatarshadow;
}
.name-sm{
    text-transform: uppercase;
    align-self:unset;
    color:black;
    font-size:2.6rem;
    margin-top:0rem;
}

.pi-small{
    margin-top:0.25rem;
}

.email-fab{
    position: fixed !important;
    bottom:5rem !important;
    right:10rem !important;
    font-size:1.3rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: email-fab-bg 15s ease infinite;
    color:#fff9 !important;
    transition: color 2s;
}
.email-fab:hover{
    color:#ffff;
    transition: color 0.4s;
}
.email-effect{
    position: fixed;
    animation-name: email-effect;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;

}

@keyframes email-effect {
    0%{
        transform:scale(1);
        opacity: 0.25;
    }
    75%{
        transform:scale(1.15);
        opacity: 0.2;
    }
    100%{
        transform:scale(1.8);
        opacity:0;
    }
    
}

@keyframes email-fab-bg {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes headersmdropin {
    from {
      opacity:0.7;
      transform: translateY(-40%);
      box-shadow: none;
      transition: border-bottom 2s;
    }
  
    to {
      opacity:1;
      transform: translateY(0%);
      box-shadow: 0 0 5px #0003;
      transition: border-bottom 2s, opacity 2s;
    }
}
@keyframes headersmfoldup {
    0% {
        opacity:1;
        transform: translateY(0%);
        box-shadow: 0 0 5px #0003;
        transition: border-bottom 2s, opacity 2s; 
    }
    100% {
        opacity:0;
        transform: translateY(-100%);
        box-shadow:none;
        transition: border-bottom 2s, opacity 2s;      
    }
}


@keyframes headerbgdropin {
    from {
      opacity:0.7;
      transform: translateY(-40%) rotateX(0deg);
    }
  
    to {
      transform: translateY(0%) rotateX(-0.5deg);
      border-bottom: 5px solid gainsboro;
      transition: border-bottom 2s;
    }
}

@keyframes namedropin {
    0%{
        opacity: 0;
        transform: translateY(-50%);
        background-color: transparent;
    }
    80%{
        background-color: transparent;
    }
    100%{
        opacity:1;
        transform: translateY(20%);
        text-shadow: #0006 0px 0px 3px;
    }
}

@keyframes avatarshadow {
    0%{
        box-shadow: #0005 0px 0px 0px;
    }
    100%{
        box-shadow: #0003 0px 0px 6px;
    }
}

@keyframes comeinfromleft {
    0%{
        opacity:0;
        transform: translateX(-30%);
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}

@keyframes comeinfromright {
    0%{
        opacity:0;
        transform: translateX(20%);
    }
    100%{
        transform: translateX(0%);
        opacity:1;
    }
}

@media only screen and (min-width:865px) and (max-width:1199.98px) {
    .top{
        left: 0;
        max-width: 120vw;
    }
    
    .name{
        color:white;
    }
    
}

@media only screen and (min-width:712px) and (max-width:864px) {
    .top{
        left:-5vw;
        width: 120vw;
        transform: translateY(0%) rotateZ(-2deg);
    }
    
    .name{
        font-size:4rem;
        color:white;
    }
    
}
@media only screen and (min-width:653px) and (max-width:711.98px) {
    .top{
        left:-5vw;
        width: 120vw;
        transform: translateY(0%) rotateZ(-2deg);
    }
    
    .name{
        font-size:4.2rem;
        color:black;
    }

    .bio{
        margin:2rem !important;
    }
    
}
@media only screen and (max-width:652.98px) {
    .top{
        left: -5vw;
        width: 130vw;
        max-width: 130vw;
        -webkit-transform: translateY(0) rotate(-2deg);
        transform: translateY(0) rotate(-2deg);
        overflow: hidden;
    }
    
    .name{
        font-size:3.2rem;
        color:black;
    }
    .name:before{
        content: "";
        position: absolute;
        width: 350px;
        height: 525px;
        margin-top: -6rem;
        -webkit-transform: rotate(90deg);
        transform: rotate(89.5deg);
        z-index: -1;
        background-color: #dcdcdc!important;
    }

    .bio{
        margin-left:-2rem !important;
        margin-right:-2rem !important;
        margin-top:-1rem;
        padding-top:1rem !important;
        padding-bottom:1rem !important;
        padding-left:3.5rem !important;
        padding-right:5rem !important;
        background-color: gainsboro !important;
    }
    .bio:before{
        content:'';
        position: absolute;
        width:380px;
        height: 500px;
        margin-top:2.2rem;
        transform:rotateZ(89.5deg);
        z-index: -1;
        background-color: gainsboro !important;
    }

    .avatar-sm{
        margin-left:-3rem !important;
        margin-top:0.5rem !important;
    }
    .header-sm{
        height: 9rem !important;
        left:0 !important;
        position:fixed !important;
    }
    .pi-small{
        margin-top: 4rem!important;
        margin-left: -3rem!important;
        position: fixed;
    }
    .email-fab{
        bottom:2rem !important;
        right:2rem !important;
    }
}
@media print {
    .top{
        background-color: black;
        -webkit-print-color-adjust: exact;
        margin:0;
        transform: scale(1,1.2);
        width: 100%;
        transform: rotateZ(0deg) !important;
    }

    .name{
        font-size:4.2rem;
        position:absolute;
        left:45%;
        top:6rem;
        color:gainsboro;
        
    }

    .bio{
        animation:none;
        position:absolute;
        padding-top:1rem;
        left:45%;
        width: 48%;
        opacity:1;
    }
}