.avatar{
    width: 17rem;
    height: 17rem;
    & img{
        object-position: top;
    }
}

.name{
    text-transform: uppercase;
    align-self: end;
    margin-left: 3rem;
    margin-bottom: 2rem;
}